<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Hotsea">

  <title>一日一V</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>微信公众帐号</h2>
<h1>一日一V（微信号H_AND_V）</h1>
<p>by <a target="_blank" href="http://weibo.com/u/1660309493">@Hotsea</a></p>
<img src="../static/img/yiriyiv.jpg">
</body>
</html>